body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: white;
    
  }
  
  h1, h2, h3 {
    color: rgb(64, 64, 248);
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  header {
    background-color: black;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-around ;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  main {
    padding: 40px 20px;
  }
  
  .hero {
    text-align: center;
    padding: 50px 0;
    background-color: #eee;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .why-choose-us {
    margin-top: 40px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .testimonials {
    margin-top: 40px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .testimonials p {
    font: italic;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    color: white;
  }
  
  .contact {
    margin-bottom: 10px;
  }
  